<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <!-- Optional: Add a title or logo here if needed -->
    </mat-card-header>
    <mat-card-content>
      <div class="text-center">
        <img src="../../../assets/img/login.png" alt="Login Logo" width="150" height="150">
        <h1 class="login-heading">Welcome</h1>
        <p class="login-subheading">Please log in to continue.</p>
        <button mat-raised-button color="primary" (click)="login()">Login with Auth</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>