.navbar {
    padding: 15px;
    .navbar-brand {
        font-size: 30px;
        font-weight: bolder;
        color: red;
        border: 1px solid green;
        padding: 10px;
        border-radius: 14px;
    }
}